body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 2600px 1750px;
  float: center;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #457b9d;
  color: white;
}

h1 {
  text-align: center;
  padding: 0px 150px;
  margin-bottom: 0px;
}

.searchbar {
  text-align: center;
  float: center;
  padding: 15px;
}

.searchbar input[type='text'] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-right: 7px;
}

button {
  background-color: #333;
  padding: 10px 10px;
  margin-top: 10px;
  color: white;
  margin:5px;
}

.verticalCenter {
  text-align: center;
  float: center;
  padding: 15px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #457b9d;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.authentication {
  float: right;
}
