<head>
	<link rel="stylesheet" href="../CSS/home.css"> 
</head>

<div class="topnav">
	<a class="active" href="/home">Home</a>
	<a href="/view">View Current Data</a>
	<a href="/insert">Insert New Data</a>
</div>

<div class="description">
	<h1> LITS INVENTORY MANAGING TOOL </h1>
	<p> This website belongs to the Library and Information Technology services at Beloit College. Log in with your registered Beloit email to access the tool. If your email has not been authorized by the LITS, please request access using the attached form </p>
	<div>
		<button> LOG IN </button>
	</div>
	<div>
		<button> REQUEST ACCESS </button>
	</div>
</div>
