{% load static %}

<head>
	<link rel="stylesheet" href="{% static 'CSS/input.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="topnav">
    <a href="/home">Home</a>
    <a href="/view">View Current Devices</a>
		<div class = "authentication">
	    {% if request.user.is_authenticated %}
	    <a href="/accounts/logout">Logout</a>
			<a>{{request.user.username}}</a>
	    {% else %}
	    <a href="/accounts/login">Login</a>
	    {% endif %}
	  </div>
  <div class="dropdown">
      <button class="dropbtn">Insert New Data
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/insert">Device</a>
        <a href="/manu">Manufacturer</a>
        <a href="/category">Category</a>
        <a href="/stwd">Steward</a>
        <a href="/department">Department</a>
        <a href="/models">Models</a>
        <a href="/vendor">Vendor</a>
        <a href="/building">Building</a>
      
      </div>
  </div>

</div>
{% if perms.inventory_app.add_models %}
{% if request.user.is_authenticated %}
<h1> INSERT NEW MODEL </h1>

<form method="post" action="">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td>{{ field.label}}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <button type = "submit"> SAVE </button>
</form>

{% else %}
<br>

<h1> Please Login </h1>
{% endif %}
{% else %}
	<div>
		<h2>You Don't Have Permission To Input</h2>
	</div>
{% endif %}
