{% load static %}
{% load admin_urls %}
<head>
	<link href = "../CSS/view.css"	rel="stylesheet" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="topnav">
	<a href="home.html">Home</a>
	<a class="active" href="view.html">View Current Data</a>
	<a href="input.html">Insert New Data</a>
</div>

<h1> CURRENT DEVICES </h1>

<div class="searchbar">
	<div>
		<input type="text" placeholder="Search">
	</div>
	<button> SEARCH </button>
	<button> UPLOAD CSV QUERIES </button>
</div>

<div class="datatable" id="tableContainer">
	<table>
    <tr>
      <th></th>
      <th></th>
			<th>Counter</th>
      <th>Asset Tag</th>
      <th>Description </th>
      <th>Last Inventory Date</th>
      <th>Acquistion Date</th>
      <th>Cost</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Serial Number</th>
      <th>Department</th>
      <th>Building</th>
      <th>Room</th>
      <th>Vendor</th>
      <th>Notes</th>
    </tr>

	{% for instance in queryset %}
<tr>
  <td> 
      <form action='view.html/'+{{instance.asset_tag}} method='POST'>
        <button class="btn"><i class="fa fa-edit"></i></button>
      </form>
    </td>
  <td> 
    <form action='view.html/'+{{instance.asset_tag}}+'/delete' method='POST'>
        <button class="btn"><i class="fa fa-trash"></i></button>
      </form>
  </td>
  <td>{{forloop.counter}}</td>
  <td>{{instance.asset_tag}}</td>
  <td>{{instance.asset_description}}</td>
  <td>{{instance.last_inventory_date}}</td>
  <td>{{instance.accqusation_date}}</td>
  <td>{{instance.cost}}</td>
  <td>{{instance.manufacturer}}</td>
  <td>{{instance.model_details}}</td>
  <td>{{instance.serial_number}}</td>
  <td>{{instance.department }}</td>
  <td>{{instance.building}}</td>
  <td>{{instance.room}}</td>
  <td>{{instance.vendor}}</td>
  <td>{{instance.notes}}</td>
</tr>
{% endfor %}
</table>

</div>
